@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
    scroll-beahvior: smooth;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
  }

  .react-modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: fixed;
    inset: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .react-modal-content {
    width: 100%;
    max-width: 450px;
    background: white;
    position: relative;
    margin: auto;
    border-radius: 0.5rem;
  }

  @media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }
  @media (max-width: 720px) {
    html {
      font-size: 87.5%;
    }
  }
}

@layer components {
  .step-progress {
    @apply before:w-12 before:h-12 before:flex before:content-['✔'] before:items-center before:justify-center  before:border-2  before:border-gray-500  before:text-gray-500 before:font-bold before:text-center before:mt-0 before:mr-auto before:mb-[3px] before:ml-auto before:rounded-full before:relative before:z-[2] before:bg-white 
    after:w-[50%] after:rounded-full after:right-[50%] after:h-[3px] after:content-[""] after:absolute after:bg-gray-500 after:top-[1.5rem] after:left-[-25%] after:z-0 first:after:hidden;
  }
}
